################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DAL/app.config
/DAL/Properties/Settings.settings
/DAL/Properties/Settings.Designer.cs
